---
layout: base.njk
permalink: /
home: true
video: true
---
<nav role="navigation" class="flex-container" id="splash">
  <a href="/about/" class="big-link">rebecca baron</a>
  <a href="/films/" class="big-link">films</a>
  <a href="/contact/" class="big-link">contact</a>
</nav>
